footer {
  background-color: $first-color;
  bottom: 0;
  color: $first-font-color;
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  height: 43px;
  left: 0;
  position: fixed;
  width: 100%;
}

.mentions {
  place-self: center start;
  margin-left: 20px;
}

.contact {
  place-self: center end;
  margin-right: 20px;
}

.wiggle-items {
  transition: transform 0.15s ease-in-out;
  transform: translateX(0);
  &:hover {
    transform: translateX($wiggle-percentage);
  }
}

.wiggle-items:nth-of-type(2):hover {
  transform: translateX($wiggle-percentage * -1);
}
