$menu1: (
  bg-color: #fadfda,
  color: #3c1218,
  font-title1: "Devonshire",
  font-title2: "Kalam",
  font-text: "Kalam",
);
$menu2: (
  bg-color: #fdf5fe,
  color1: #c67412,
  color2: #9861ef,
  font-title1: "Croissant One",
  font-title2: "Playfair Display",
  font-text: "Merriweather",
);
$menu3: (
  bg-color: #f9f9f9,
  color1: #0431df,
  color2: #0887fb,
  font-title1: "Dancing Script",
  font-title2: "Averia Sans Libre",
  font-text: "Kalam",
);
$menu4: (
  bg-color: #fcfffd,
  color1: #42973c,
  color2: #bfff7e,
  color3: #72bf56,
  font-title1: "Merienda",
  font-title2: "Averia Sans Libre",
  font-text: "Kalam",
);
